.ProfileSections {
  display: flex;
  flex-direction: column;
}

.CarshopInfo,
.ServicesInfo {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 20px;
  animation: fadeIn 0.5s ease;
  margin-top: 2%;
}

.CarshopInfo.show,
.ServicesInfo.show {
  display: block;
}

.CarshopInfo h2,
.ServicesInfo h2 {
  margin-bottom: 10px;
  color: #2563eb;
}

.CarshopInfo input,
.ServicesInfo input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  outline: none;
}

.CarshopInfo button,
.ServicesInfo button {
  padding: 10px 20px;
  background-color: #3f51b5;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.CarshopInfo button:hover,
.ServicesInfo button:hover {
  background-color: #1d4ed8;
}

.ServicesInfo {
  display: block;
  gap: 20px;
}

.service-item {
  display: inline-block;
  margin: 5px;
  width: 200px;
  /* adjust this as needed */
  height: auto;
  /* adjust this as needed */
  text-align: center;
  background-color: #f1f1f1;
  /* gray background color */
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #3f51b5;
  /* blue border */
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
}

.service-item:hover {
  transform: scale(1.05);
  /* pop-up effect on hover */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  /* shadow on hover */
}

.service-item div {
  margin-bottom: 5px;
}

.service-item button {
  margin-top: 10px;
  align-self: center;
  margin-right: 5px;
  background-color: #3f51b5;
}