#optionSubmit select {
    width: 45%;
    padding: 12px;
    border-radius: 10px;
    background-color: #f1f1f1;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid black;
    margin-right: 1%;
    display: inline-block;
}

select {
    appearance: none;
}

#optionSubmit button {
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    font-size: 16px;
    cursor: pointer;
    background-color: #3f51b5;
    color: white;
    border: none;
    width: 100%;
    margin-left: 0;
}

#optionSubmit {
    width: 100%;
    max-width: 60%;
    display: block;
}

#optionSubmit button:disabled {
    
    cursor: not-allowed;

}