.shop-overview {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
  gap: 20px; /* Add spacing between columns */
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  text-align: center;
}

.shop-logo {
  grid-column: 1/2; /* Place in the first column */
  grid-row: 1/2; /* Place in the first row */
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}

.shop-name {
  grid-column: 1/2; /* Place in the first column */
  grid-row: 2/3; /* Place in the second row */
  font-size: 24px;
  margin-bottom: 5px;
}

.shop-location {
  grid-column: 1/2; /* Place in the first column */
  grid-row: 3/4; /* Place in the third row */
  font-size: 16px;
  margin-bottom: 10px;
}

.shop-work-hours {
  grid-column: 2/3; /* Place in the second column */
  grid-row: 1/4; /* Place in all three rows */
  margin-bottom: 10px;
}

.shop-description {
  grid-column: 3/4; /* Place in the third column */
  grid-row: 1/4; /* Place in all three rows */
  font-size: 16px;
  line-height: 1.5;
}

.working-hours ul{
  list-style-type: none;
  text-align: center;
}
  
  .section {
    margin-bottom: 30px;
  }
  
  .section-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #007bff; /* Blue color */
    cursor: pointer;
  }
  
  .section-title i {
    margin-left: 5px;
  }
  
  .services,
  .reviews {
    display: none;
    margin-top: 20px;
  }
  
  .services.active,
  .reviews.active {
    display: block;
  }
  
  .service-container,
  .review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .service {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .review {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .service:hover {
    transform: translateY(-5px);
  }
  
  .service h4 {
    margin-top: 0;
    font-size: 14px;
    color: #333;
  }
  
  .service p,
  .review p {
    margin: 5px 0;
    color: #666;
    font-size: 12px;
  }
  
  .service a,
  .review a {
    color: #fff;
    background-color: #007bff; /* Blue color */
    padding: 3px 8px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
  }

  