.shop-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  text-align: center;
}

.shop-logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.shop-name {
  font-size: 24px;
  margin-bottom: 5px;
}

.shop-location {
  font-size: 16px;
  margin-bottom: 10px;
}

.working-hours {
  margin-bottom: 10px;
}

.working-hours h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.working-hours ul {
  list-style-type: none;
  padding: 0;
}

.working-hours li {
  margin-bottom: 5px;
}

.shop-description {
  font-size: 16px;
  line-height: 1.5;
}
  
  .section {
    margin-bottom: 30px;
  }
  
  .section-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #007bff; /* Blue color */
    cursor: pointer;
  }
  
  .section-title i {
    margin-left: 5px;
  }
  
  .services,
  .reviews {
    display: none;
    margin-top: 20px;
  }
  
  .services.active,
  .reviews.active {
    display: block;
  }
  
  .service-container,
  .review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .service {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .review {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .service:hover {
    transform: translateY(-5px);
  }
  
  .service h4 {
    margin-top: 0;
    font-size: 14px;
    color: #333;
  }
  
  .service p,
  .review p {
    margin: 5px 0;
    color: #666;
    font-size: 12px;
  }
  
  .service a,
  .review a {
    color: #fff;
    background-color: #007bff; /* Blue color */
    padding: 3px 8px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
  }
  